<h1 class="page_title ml-3">Search Results </h1>

<div class="container pt-3">
<% if @posts == [] %>
<h2 class = "seach-result">no search results available</h2>
<% else %>
<div class = "post-contents">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
      <%= image_tag post.image, size: "300x300", class: "post-img" %>
      <% end %>
    <% end %>
</div>
<% end %>
</div>