<h2 class="page_title">Search Results </h2>

<% if @posts == [] %>
<h2 class = "seach-result">検索結果はありません</h2>
<% else %>
<div class = "post-contents">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
      <%= image_tag post.image, size: "300x300", class: "post-img" %>
      <% end %>
    <% end %>
</div>
<% end %>