<!-- サイドバー用部分テンプレート -->
<div class="listings">
<nav class="bg-dark">
  <ul class="nav flex-column m-0 p-3">
    <li class="navbar-brand text-white m-5 pt-5 pb-5" href=""><%= link_to posts_new_path, method: :get do %><i class="fa-regular fa-square-plus fa-3x"></i><% end %></a></li>
    <% if end_user_signed_in? %>
    <li class="navbar-brand text-white m-5 pb-5" href=""><%= link_to favorites_end_user_path(current_end_user), method: :get do %><i class="fa-solid fa-heart heart_red fa-3x"></i><% end %></a></li>
    <% end %>
    <li class="navbar-brand text-white m-5 pt-5" href="">About</a></li>
    <li class="navbar-brand text-white m-5 pt-5" href=""></a></li>
    <li class="navbar-brand text-white m-5 pt-5" href=""></a></li>
  </ul>
</nav>
</div>

