<!-- サイドバー用部分テンプレート -->
<nav class="bg-dark">
  <ul class="nav flex-column m-0 p-3">
    <li class="navbar-brand text-white m-5 pt-5 pb-5" href="">Post</a></li>
    <li class="navbar-brand text-white m-5 pb-5" href="">Favorite</a></li>
    <li class="navbar-brand text-white m-5 pt-5" href="">About</a></li>
  </ul>
</nav>

