<divclass = "about-image">
<%= image_tag 'venetia.jpg' , size: '1100x400' %>
</div>
<h1 class="page_title ml-3">旅図鑑　TABIZUKANとは</h1>

<p>
  国内外問わず、それぞれ訪れた旅行情報をシェアできるコミュニティサイトです。<br>
  場所などの情報共有だけでなく、スケジュールや料金（旅行にかかった費用）なども共有できます。<br>
  旅行へのイメージや参考にすることができるコミュニティサイトです。
</p>