<div class="container">

  <div class="example">
    <%= image_tag 'NYC.jpg' , size: '1100x400' %>
    <p>WELCOME TO TABIZUKAN</p>
  </div>

  <h1 class="page_title m-5">Time Line</h1>

  <div class = "post-contents">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <%= image_tag post.image, size: "300x300" %>
      <% end %>
    <% end %>
  </div>

</div>