<h1 class="page_title ml-3 mb-3">Users Comments</h1>
</br>
<table class="table table-hover">
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment_text %></td>
        <td><%= link_to 'delete', admin_end_user_comment_path(@end_user, comment), class: "btn btn-danger", data: {confirm: 'コメントを削除しますか？'}, method: :delete  %></td>
      </tr>
    <% end %>
</table>

