@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    font-family: 'Oswald', sans-serif;
}

.about-content{
  font-size:  18px;
}

.listings {

  height: 100%;
  width: 180px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.sidebar {
  height: 100%;
}

.heart_red{color:#e54747;}

.field_with_errors {
  display: inline;
  input, textarea {
    border-color: red;
  }
}

.card-container {
  max-width: 600px;
  padding: 40px 40px;
}

.card-body {
  padding: 15px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 70px;
}

.card-container {
  margin: 0 auto;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.field {
  margin-top: 10px;
}

.page_title{
    color:#dc143c;
    font-size: 60px;
}

a {
 color: black;
}

.post-contents {
  text-align: center;
}

figure.hover-parent {
　width: 250px;
　height: 175px;
　position: relative;
　margin-bottom: 30px;
　overflow: hidden;
}
figcaption.hover-mask {
　width: 250px;
　height: 175px;
　position: absolute;
　top: 0;
　bottom: 0;
　left: 0;
　right: 0;
　background: rgba(0,0,0,0.5);
　opacity: 0;
　color: #fff;
　display: flex;
　align-items: center;
　text-align: center;
　padding: 30px;
}


table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  padding: 10px 0;
}

.heart{
  font-size: 40px;
}