@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.listings {

  height: 100%;
  width: 180px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.sidebar {
  height: 100%;
}

.heart_red{color:#e54747;}

.field_with_errors {
  display: inline;
  input, textarea {
    border-color: red;
  }
}

.card-container {
  max-width: 600px;
  padding: 40px 40px;
}

.card-body {
  padding: 15px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 70px;
}

.card-container {
  margin: 0 auto;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.field {
  margin-top: 10px;
}