<% if resource.errors.any? %>
  <div class="row">
    <div class="offset-3 col-9">
      <ul class="alert alert-warning">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %> 